/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main */
main .container{
    height: 100vh;
}

main .container .container-video{
    height: calc(100% - 80px);
    background-color: black;
}

main .container .container-settings{
    height: 80px;
    width: 100%;
    background-color: #222222;
}

/* /main */
