/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main */
main .container{
    height: 100vh;
}

main .container .container-video{
    height: calc(100% - 80px);
    background-color: black;

    /* flex */
    display: flex;
    flex-flow: row wrap;
    gap: 5px;

    padding: 80px 80px 20px 80px;
}

main .container .container-settings{
    height: 80px;
    width: 100%;
    background-color: #222222;
}

main .container .container-video .card-user {
    background-color: lightgreen;
    border: 1px solid black;
    /* test */
    width: calc(100% / 7 - 5px);
}
/* /main */
